/*STYLE CHAT CSS*/


h1 {
    font-size: 25px;
    font-family: 'Lobster', cursive;
    color: white;
    margin-top: 10px; 
}

ul {
	padding-left: 0;
}

.top-bar {
    background-color: #4B5490;
    position: relative;
    overflow: hidden;
    height: 50px;
    border-radius: 10px;
}

.input-group {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
}

.article {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.conversation {
    border-radius: 10px;
    padding: 20px;
    background-color: #E4E4E4;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	border-left: 2px solid grey;
	border-right: 2px solid grey;
	margin: 2px;
}

hr {
	width: 800px;
	border: 1px solid grey;	
}

.msg_content {

}
